.grid {
    display: grid;
    grid-template-areas:
        'image'
        'form';
}
.image {
    grid-area: image;
}

.form {
    grid-area: form;
}
.box {
    max-width: 575px;
}
* {
    font-size: 14px;
}
@media (max-width: 767px) {
    .grid {
        grid-template-areas:
            'form '
            'image ';
        grid-template-rows: 1fr;
    }
}
@media (min-width: 767px) and (max-width: 900px) {
    .grid {
        grid-template-areas:
            'form'
            'image ';
        grid-template-rows: 1fr;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
    .grid {
        grid-template-areas:
            'image form'
            'image form';
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 1200px) {
    .grid {
        grid-template-areas:
            'image form'
            'image form';
        grid-template-columns: 1fr 1fr;
    }
}
